@charset "UTF-8";
/*Définition des couleurs*/
/*Définition de la typographie*/
/*Création du button*/
@media (max-width: 900px) {
  body {
    background-color: #011932;
    margin-top: 60px;
    margin-left: 25px;
  }
  h1, h2 {
    font-family: "Dela Gothic One", cursive;
    font-weight: 400;
    color: #C0EEFF;
  }
  p {
    font-family: "Roboto Condensed", sans-serif;
    color: #C0EEFF;
  }
  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*SECTION 1*/
  #section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 21em;
    gap: 24px;
    margin-top: 60px;
  }
  .text h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }
  .text p {
    font-size: 16px;
    font-weight: 700;
    width: 14rem;
  }
  .image-turtle {
    background-image: url(./assets/turtleimg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 68px;
    height: 115px;
    flex-shrink: 0;
  }
  .button {
    display: flex;
    width: 159px;
    height: 46px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFE0BF;
    background: #011932;
    color: #FFE0BF;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: background-color ease-in-out 300ms, color ease 0.25ms;
    cursor: pointer;
    margin-top: 5em;
  }
  .button:hover {
    background: #FFE0BF;
    color: #011932;
    box-shadow: 0px 3px 12px 0px rgba(255, 224, 191, 0.2);
  }
  .button:focus {
    background: #FFE0BF;
    color: #011932;
    box-shadow: 0px 3px 12px 0px rgba(255, 224, 191, 0.2);
  }
  .button p {
    margin: 0;
    color: #FFE0BF;
  }
  .button:hover p {
    color: #011932;
  }
  .image-phoque {
    background-image: url(./assets/phoque.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 183px;
    height: 85px;
    flex-shrink: 0;
  }
  .image-baleine {
    background-image: url(./assets/baleine.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 183px;
    height: 85px;
    flex-shrink: 0;
  }
  /*SECTION 2*/
  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .containercards {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px 5px 40px 25px;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
    overflow-x: scroll;
  }
  .itemCard {
    width: 250px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #C0EEFF;
    background: #011932;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .itemCard p {
    margin: 0;
  }
  .imgCard {
    background-image: url(./assets/orques.svg);
    width: 250px;
    height: 100px;
  }
  .imgCard p {
    color: #011932;
    font-weight: 700;
    font-size: 20px;
    margin-top: 8.5px;
    margin-left: 8.5px;
  }
  .textCard {
    margin-left: 18px;
    margin-right: 18px;
    width: 215px;
    display: flex;
    flex-direction: column;
  }
  .textCard .titletextCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
  }
  .textCard .paragraphCard {
    display: flex;
    flex-direction: column;
    gap: 4.5px;
    margin-top: 12px;
  }
  /*SECTION 3*/
  #section3 {
    display: flex;
    flex-direction: column;
  }
  .containershark {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .video-shark {
    background-image: url(./assets/sharkYT.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 341px;
    height: 169px;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0 10px 8px 5px rgba(0, 0, 0, 0.5);
  }
  /*SECTION 4*/
  #section4 {
    display: flex;
    flex-direction: column;
  }
  .containersupport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containersupport .button {
    margin-top: 25px;
  }
  /*SECTION 5*/
  .implicationcards {
    display: flex;
    align-items: center;
    gap: 25px;
    overflow-x: scroll;
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */